<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LancerConnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
      <%= render partial: 'layouts/sidebar' %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <%= render partial: 'layouts/header' %>


          <!-- Begin Page Content -->
          <div class="container-fluid">
            <%= yield %>
          </div>
  </body>
</html>
